*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../birthday/22485.jpg");
    background-size: cover;
    background-position: center;
   
}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
p{
    font-size: 20px;

}
.Happy-birthday{
    font-family: Comic Sans MS;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10px;
}
.box{
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px;
}
small{
    font-size: 20px;
}